.page-header__list {
  display: none;
}

.page-header__item {
  &--delivery {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    background: linear-gradient($white 89px, #ececec 2px, transparent 90px);
    background-color: $grayback;
  }

  .page-header__item {
    &--delivery {
      display: block;

      position: absolute;
      top: 105px;
      right: 0;

      line-height: 24px;

      font-weight: 400;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__item {
    display: block;

    color: $black;
    line-height: 24px;

    font-weight: 700;

    cursor: pointer;
  }

  .page-header__item:hover {
    opacity: 0.6;
  }

  .page-header__item:active {
    opacity: 0.3;
  }


  .page-header__list {
    display: block;
    order: 4;

    width: 313px;

    display: flex;
    justify-content: space-between;
  }
}