.about {
    margin: 0 auto;
    padding-top: 40px;

    width: 260px;
}

.about__title {
    color: $black;
    font-size: 25px;
    line-height: 30px;
    font-weight: 700;
    margin: 0;
}

.about__list-wrapper {
    margin-top: 28px;
}

.about__item {
    height: 120px;
    box-sizing: border-box;

    padding-top: 55px;

    color: $black;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;

    position: relative;

    &--flower::before {
        position: absolute;
        content: '';

        top: 5px;
        left: 5px;
       
        background-repeat: no-repeat;
        width: 32px;
        height: 37px;

        background-image: url("/img/ikons-desktop/icon-1.png");
    }

    &--price::before {
        position: absolute;
        content: '';

        top: 5px;
        left: 0;
       
        background-repeat: no-repeat;
        width: 47px;
        height: 27px;

        background-image: url("/img/ikons-desktop/icon-3.svg.png");
    }

    &--like::before {
        position: absolute;
        content: '';

        top: 5px;
        left: 3px;
       
        background-repeat: no-repeat;
        width: 34px;
        height: 27px;

        background-image: url("/img/ikons-desktop/icon-5.svg.png");
    }

    &--ball::before {
        position: absolute;
        content: '';

        top: 5px;
        left: 3px;
       
        background-repeat: no-repeat;
        width: 35px;
        height: 34px;

        background-image: url("/img/ikons-desktop/icon-2.svg.png");
    }

    &--rocket::before {
        position: absolute;
        content: '';

        top: 5px;
        left: -5px;
       
        background-repeat: no-repeat;
        width: 55px;
        height: 23px;

        background-image: url("/img/ikons-desktop/icon-4.svg.png");
    }

    &--gift::before {
        position: absolute;
        content: '';

        top: 5px;
        left: 3px;
       
        background-repeat: no-repeat;
        width: 33px;
        height: 32px;

        background-image: url("/img/ikons-desktop/icon-6.svg.png");
    }
}


@media (min-width: $tablet-width) {
    .about {
        width: 668px;
        padding-top: 72px;
    }

    .about__title {
        font-size: 43px;
        line-height: 50px;
    }

    .about__list-wrapper {
        margin-top: 40px;

        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .about__item {
        width: 334px;
        height: 160px;
        font-size: 20px;
        line-height: 22px;
    }
}

@media (min-width: $desktop-width) {
    .about {
        width: 1050px;
        padding-top: 87px;
    }

    .about__wrapper {
        margin-left: 175px;
    }

    .about__title {
        font-size: 53px;
        line-height: 57px;
    }

    .about__item {
        width: 365px;
        height: 155px;
    }
}
