.page-header__main-nav {
  position: relative;
}

.main-nav__logo {
  display: block;
  width: 86px;
  height: 35px;
  margin: 0 auto;

  fill: $black;

  &--tablet {
    display: none;
  }

  &--desktop {
    display: none;
  }
}

.main-nav__logo:hover svg {
  opacity: 0.6;
}

.main-nav__logo:active svg {
  opacity: 0.3;
}

.main-nav__wrapper {
  display: none;

  &--open {
    display: block;
  }
}

.main-nav__list {
  list-style: none;
  width: 100%;

  &--second{
    margin-top: 158px;
  }

  position: absolute;

  background-color: $white;
}

.item__search {
  margin-left: -67px;
}

.main-nav__cart {
  margin-left: -30px;
}

.main-nav--closed .main-nav__list {
  display: none;
}

.main-nav--opened .main-nav__list {
  display: block;
}

.page-header__main-nav-wrapper {
  position: relative;

  margin: 0 auto;
  width: 260px;
}

.main-nav__item {
  min-height: 79px;
  box-sizing: border-box;
  padding-top: 27px;

  cursor: pointer;

  text-align: center;

  &--logo {
    min-height: 79px;
    box-sizing: border-box;
    padding-top: 20px;
  }

  box-shadow: 0px 1px 0px 0px $review-button-border inset;
}

.main-nav__cart  {
  border-bottom: 1px solid $review-button-border;
}

.main-nav__item:hover .main-nav__ikon {
  fill: $green;
}

.main-nav__item:hover .main-nav__item-name {
  opacity: 0.6;
}

.main-nav__item:active .main-nav__ikon {
  fill: $green;
  opacity: 0.3;
}

.main-nav__item:active .main-nav__item-name {
  opacity: 0.3;
}

.main-nav__ikon {
  fill: $graylight;

  width: 18px;
  height: 18px;

  margin-right: 26px;

  &--cart {
    width: 21px;
  }
}

.main-nav__item-name {
  text-decoration: none;
  color: $black;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.main-nav__button {
  position: absolute;
  top: 0;
  right: 0;

  width: 79px;
  min-height: 79px;

  cursor: pointer;

  background-color: transparent;

  border: none;
  padding: 0;
}

.main-nav--closed .main-nav__button::before {
  content: "";

  position: absolute;
  top: 32px;
  right: 0;

  width: 20px;
  height: 2px;

  background-color: $menu-ikon;

  box-shadow: 0 5px 0 0 $menu-ikon, 0 10px 0 0 $menu-ikon;
}

.main-nav--closed .main-nav__button:hover:before {
  background-color: rgba($color: $menu-ikon, $alpha: 0.6);
  box-shadow: 0 5px 0 0 rgba($color: $menu-ikon, $alpha: 0.6), 0 10px 0 0 rgba($color: $menu-ikon, $alpha: 0.6);
} 

.main-nav--closed .main-nav__button:active:before {
  background-color: rgba($color: $menu-ikon, $alpha: 0.3);
  box-shadow: 0 5px 0 0 rgba($color: $menu-ikon, $alpha: 0.3), 0 10px 0 0 rgba($color: $menu-ikon, $alpha: 0.3);
} 


.main-nav--opened .main-nav__button {
  &::before,
  &::after {
    content: " ";

    position: absolute;
    width: 25px;
    height: 2px;

    background-color: $menu-ikon;

    top: 35px;
    right: 0;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:hover::after,
  &:hover::before {
    background-color: rgba($color: $menu-ikon, $alpha: 0.6);
  }
  &:active::after,
  &:active::before {
    background-color: rgba($color: $menu-ikon, $alpha: 0.3);
  }
}

@media (min-width: $tablet-width) {
  .page-header__main-nav {
    width: 668px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    position: relative;
  }

  .main-nav--closed .main-nav__list {
    display: flex;
  }

  .main-nav--opened .main-nav__list {
    display: flex;
  }

  .main-nav__button {
    display: none;
  }

  .main-nav__logo {
    width: 113px;
    height: 46px;
    margin: 0;

    &--mobile {
      display: none;
    }

    &--tablet {
      display: block;
    }

    &--desktop {
      display: none;
    }
  }

  .main-nav__list {
    position: static;
  
    background-color: transparent;
    &--second{
      margin-top: 0;
    }
  }
  
  .item__search {
    margin-left: 0;
  }
  
  .main-nav__cart {
    margin-left: 0;
  }
  

  .main-nav__item {
    min-height: 0;
    padding-top: 0;
    padding-left: 0;

    &--logo {
      min-height: 89px;
      padding-top: 22px;
    }

    box-shadow: none;
    border: none;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    min-height: 89px;
    box-sizing: border-box;

    &--first {
      order: 2;
      width: 310px;
      padding-left: 0;

      padding-top: 15px;
    }

    &--second {
      order: 1;
      width: 350px;

      padding-top: 35px;
    }

    &--closed {
      display: flex;
    }
  }

  .item-name__first {
    font-size: 15px;
  }

  .item-name__search {
    display: none;
  }

  .item__search {
    width: 87px;
    padding-left: 34px;
    box-sizing: border-box;
  }

  .main-nav__ikon {
    &--search {
      margin: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .page-header__main-nav {
    width: 1050px;
    margin: 0 auto;
  }

  .page-header__main-nav-wrapper {
    order: 2;
    width: 149px;
  }

  .main-nav__logo {
    
    
    &--mobile {
      display: none;
    }

    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
  .main-nav__list {
    &--first {
      order: 1;
      width: 378px;

      padding-top: 33px;
    }

    &--second {
      order: 3;
      width: 350px;

      padding-top: 33px;
    }
  }

  .item-name__first {
    font-size: 17px;
  }

  .main-nav__item {
    &--logo {
      padding-top: 10px;
    }
  }
}
