$tablet-width: 768px;
$desktop-width: 1250px;
$mobile-width-only: 767px;
$tablet-width-only: 1249px;

// colors
$white: #ffffff;
$black: #000000;
$gray: #444444;
$grayback: #fafafa;
$graylight: #d3d2d2;
$green: #61d1bb;
$greendark: #56c3b2;
$background-gray: #f9f9f9;
$ikon-header-green: #3bb09d;





@media (min-width: $tablet-width) {
  .mob-only {
  display: none;
  }
}

@media (min-width: $desktop-width) {
  
}

